# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/
/build
.turbo/

# local env
.env
.env*.local

# IDE & OS
.DS_Store
.vscode/
.idea/

# misc
*.pem
*.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor/merge leftovers
*.orig
*.swp

# vercel
.vercel
